= form_for @volunteer do |f|
  -if @volunteer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@volunteer.errors.count, "error")} prohibited this volunteer from being saved:"
      %ul
        - @volunteer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :service_info
    = f.text_field :service_info
  .field
    = f.label :stage_id
    = f.text_field :stage_id
  .field
    = f.label :local_name
    = f.text_field :local_name
  .field
    = f.label :site
    = f.text_field :site
  .field
    = f.label :sector_id
    = f.number_field :sector_id
  .field
    = f.label :cos_date
    = f.date_select :cos_date
  .actions
    = f.submit 'Save'
