- content_for :backtrack do
  %li= link_to raw('Everyone &rang;'), users_path
  %li= link_to 'Staff', staff_index_path
  %li.active= link_to 'Volunteers', volunteers_path
.well.orange
  %h1 Volunteers
%table.table.table-condensed
  %thead
    %th
    %th
    %th Name
    %th Phone
    %th Email
    %th Local Name
    %th Sector
    %th Site
    %th Work Zone
    %th Region
    %th Stage
    %th COS Date
  %tbody
    - @volunteers.each do |vol|
      %tr
        %td
          = link_to raw('<span class="icon-edit"></span>'), edit_user_path(vol.user), :class => 'btn btn-mini', :rel => 'tooltip', :title => 'edit', 'data-placement' => 'left' if can? :edit, vol.user
        %td= image_tag vol.user.avatar.square50.url
        %td
          = link_to vol.user.name, vol.user
        %td= vol.user.phone
        %td= vol.user.email
        %td= vol.local_name
        %td= link_to vol.sector.abbreviation, vol.sector if vol.sector?
        %td= vol.site
        %td= link_to vol.work_zone.name, vol.work_zone if vol.work_zone?
        %td= link_to vol.region.abbreviation, vol.region if vol.region?
        %td= link_to vol.stage.name, vol.stage if vol.stage?
        %td= vol.cos_date.strftime('%m %B %Y') unless vol.cos_date.blank?
