- content_for :backtrack do
  %li= link_to raw('Everyone &rang;'), users_path
  %li= link_to 'Staff', staff_index_path
  %li.active= link_to 'Volunteers', volunteers_path
.well.orange
  %h1 Volunteers
%table.table
  %thead
    %th Name
    %th Phone
    %th Email
    %th Local Name
    %th Site
    %th Work Zone
    %th Stage
    %th Sector
    %th COS Date
  %tbody
    - @volunteers.each do |vol|
      %tr
        %td= link_to vol.user.name, vol.user
        %td= vol.user.phone
        %td= vol.user.email
        %td= vol.local_name
        %td= vol.site
        %td= vol.work_zone_id
        %td= link_to vol.stage.name, vol.stage if vol.stage?
        %th= vol.sector_id
        %th= vol.cos_date.to_date unless vol.cos_date.blank?
