%p#notice= notice

%p
  %b User:
  = @volunteer.user_id
%p
  %b Service info:
  = @volunteer.service_info
%p
  %b Stage:
  = @volunteer.stage_id
%p
  %b Local name:
  = @volunteer.local_name
%p
  %b Site:
  = @volunteer.site
%p
  %b Sector:
  = @volunteer.sector_id
%p
  %b Cos date:
  = @volunteer.cos_date

= link_to 'Edit', edit_volunteer_path(@volunteer)
\|
= link_to 'Back', volunteers_path
