%li= link_to 'Everyone', users_path
%li.active= link_to 'Staff', staff_index_path
%li= link_to 'Volunteers', volunteers_path
- if !@staff.kind_of?(Array) && @staff && can?(:edit, @staff.user)
  %li
    = link_to edit_user_path(@staff.user) do
      %span.icon-pencil
      Edit #{@staff.user.name}
