- content_for :backtrack do
  %li= link_to raw('Everyone &rang;'), users_path
  %li.active= link_to 'Staff', staff_index_path
  %li= link_to 'Volunteers', volunteers_path
.well.green
  %h1 Staff
%table.table
  %thead
    %th
    %th
    %th Name
    %th Phone
    %th Email
    %th Job Title
    %th Unit
    %th Location
  %tbody
    - @staff.each do |staff|
      %tr
        %td= link_to raw('<span class="icon-edit"></span>'), edit_user_path(staff.user), :class => 'btn btn-mini', :rel => 'tooltip', :title => 'edit', 'data-placement' => 'left' if can? :edit, staff.user
        %td= image_tag staff.user.avatar.square50.url
        %td= link_to staff.user.name, staff.user
        %td= staff.user.phone
        %td= staff.user.email
        %td= staff.job_title
        %td= link_to staff.unit.name, staff.unit if staff.unit?
        %td= staff.location
