.well.green
  %h1 Staff
%table.table
  %thead
    %th Name
    %th Phone
    %th Email
    %th Location
    %th Volunteer?
  %tbody
    - @staff.each do |staff|
      %tr
        %td= link_to staff.user.name, staff.user
        %td= staff.user.phone
        %td= staff.user.email
        %td= staff.location
        %td= staff.user.volunteer? ? 'true' : 'false'
