- content_for :backtrack do
  %li.active= link_to 'Languages', languages_path
- content_for :top_right_menu do
  %li= link_to action_icon(:create, 'New Language'), new_language_path if can? :create, Language

.well.orange
  %h1 Let's talk language

%table.table
  %thead
    %th Code
    %th Name
    %th Pages
    %th Description
  %tbody
    - @languages.each do |language|
      %tr
        %td= language.code
        %td= link_to language.name, language
        %td= language.pages.count
        %td= language.description
