- content_for :backtrack do
  %li.active= link_to 'Sectors', sectors_path
- content_for :top_right_menu do
  %li= link_to raw('<span class="icon-plus"></span> New Sector'), new_sector_path if can? :create, Sector

.well.red
  %h1= pluralize @sectors.count, 'Sector'
%ul.thumbnails
  - for sector in @sectors do
    %li.span3
      = link_to sector, :class => 'thumbnail', :rel => 'tooltip', 'data-placement' => 'bottom', :title => sector.name do
        = image_tag sector.photo.golden374.url
        %h4.center= sector.abbreviation
        - if sector.apcd?
          %p.center= sector.apcd.name
