= form_for @user do |f|
  = render 'shared/form_errors', :item => @user if @user.errors.any?
  = f.label :name
  = f.text_field :name, :class => 'required'
  = f.label :phone
  = f.text_field :phone, :class => 'required'
  = f.label :bio
  = f.text_area :bio_markdown, :rows => 5, :class => 'span12'
  .form-actions
    = f.submit
