- content_for :backtrack do
  %li= link_to raw('Everyone &rang;'), users_path
  %li= link_to raw("#{@user.name} &rang;"), @user
  %li.active= link_to 'Edit', edit_user_path(@user) if can? :edit, @user
- content_for :top_right_menu do
  %li= link_to 'Edit Password/Email', ''
.row-fluid
  .span8
    = form_for @user do |f|
      = render 'shared/form_errors', :item => @user if @user.errors.any?
      .page-header
        %h1 Profile Info
      = render 'shared/form_info'
      .row-fluid
        .span6
          = f.label :name
          = f.text_field :name, :class => 'span12 required'
          = f.label :blog_title, 'Blog Title'
          = f.text_field :blog_title, :class => 'span12'
          = f.label :blog_url, 'Blog URL'
          = f.text_field :blog_url, :class => 'span12'
          = f.label :website, 'Personal Website'
          = f.text_field :website, :class => 'span12'
        .span6
          = f.label :phone
          = f.text_field :phone, :class => 'span12 required'
          = f.label :bio, 'Brief Bio'
          = f.text_area :bio_markdown, :rows => 7, :class => 'markdown span12'
      = f.fields_for :volunteer do |ff|
        .row-fluid
          .span12
            .page-header
              %h1 Volunteer Info
            .row-fluid
              .span6
                = ff.label :local_name, 'Local Name'
                = ff.text_field :local_name, :class => 'required span12'
                = ff.label :work_zone_id, 'Work Zone'
                = ff.number_field :work_zone_id, :class => 'span12 required'
                = ff.label :cos_date, 'COS Date'
                = ff.text_field :cos_date, :class => 'span12 datepicker required'
                = ff.label :stage_id
                = ff.collection_select :stage_id, Stage.all, :id, :name, {}, :class => 'required span12'
                = ff.label :sector_id
                = ff.number_field :sector_id, :class => 'span12 required'
              .span6
                = ff.label :site
                = ff.text_field :site, :class => 'required span12'
                = ff.label :service_info_markdown, 'Service Description'
                = ff.text_area :service_info_markdown, :rows => 10, :class => 'markdown span12'
      = f.fields_for :staff do |ff|
        .row-fluid
          .span12
            .page-header
              %h1 Staff Info
            .row-fluid
              .span6
                = ff.label :job_title, 'Job Title'
                = ff.text_field :job_title, :class => 'required span12'
                = ff.label :unit_id, 'Organizational Unit'
                = ff.collection_select :unit_id, Unit.all, :id, :name, {}, :class => 'required span12'
                = ff.label :location
                = ff.text_field :location, :class => 'span12'
              .span6
                = ff.label :job_description_markdown, 'Job Description'
                = ff.text_area :job_description_markdown, :rows => 10, :class => 'markdown span12'
      .form-actions
        = f.submit :class => 'btn btn-primary'
  .span4
    .page-header
      %h1 Markdown Help
    = render 'shared/markdown_help'
