- content_for :backtrack do
  %li.active= link_to 'Everyone', users_path
  %li= link_to 'Staff', staff_index_path
  %li= link_to 'Volunteers', volunteers_path
.well.blue
  %h1 Everyone
%table.table
  %thead
    %th Name
    %th Phone
    %th Email
    %th Join Date
    %th Volunteer?
    %th Staff?
    %th Blog?
    %th Website?
    %th Confirmed?
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.phone
        %td= user.email
        %td= user.created_at.to_date
        %td= boolean_icon_for user.volunteer?
        %td= boolean_icon_for user.staff?
        %td= boolean_icon_for user.blog_url.blank?
        %td= boolean_icon_for user.website.blank?
        %td= boolean_icon_for user.confirmed_at.blank?
