- content_for :backtrack do
  %li.active= link_to 'Everyone', users_path
  %li= link_to 'Staff', staff_index_path
  %li= link_to 'Volunteers', volunteers_path
.well.blue
  %h1 Everyone
%table.table
  %thead
    %th Name
    %th Phone
    %th Email
    %th Join Date
    %th Volunteer?
    %th Staff?
    %th Blog?
    %th Website?
    %th Confirmed?
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.phone
        %td= user.email
        %td= user.created_at.to_date
        %td= user.volunteer? ? 'true' : 'false'
        %td= user.staff? ? 'true' : 'false'
        %td= user.blog_url.blank? ? 'false' : 'true'
        %td= user.website.blank? ? 'false' : 'true'
        %td= user.confirmed_at.blank? ? 'false' : 'true'
