- content_for :backtrack do
  %li= link_to raw('Everyone &rang;'), users_path
  %li= link_to raw('Staff &rang;'), staff_index_path if @user.staff?
  %li= link_to raw('Volunteers &rang;'), volunteers_path if @user.volunteer?
  %li.active= link_to @user.name, @user
  %li= link_to raw('<span class ="icon-pencil"></span> Edit'), edit_user_path(@user) if can? :edit, @user
- content_for :top_right_menu do
  - if can? :edit, @user
    - if @user.staff?
      %li#destroy_staff
        = link_to raw('<span class ="icon-minus"></span> Remove Staff'), staff_path(@user.staff.id), :method => :delete, :remote => true if can?(:destroy, Staff)
    - else
      %li#create_staff
        = link_to raw('<span class ="icon-plus"></span> Make Staff'), staff_index_path(:staff => {:user_id => @user.id}), :method => :post, :remote => true if can?(:create, Staff)
    - if @user.volunteer?
      %li#destroy_volunteer
        = link_to raw('<span class ="icon-minus"></span> Remove PCV'), volunteer_path(@user.volunteer.id), :method => :delete, :remote => true if can?(:destroy, Volunteer)
    - else
      %li#create_volunteer
        = link_to raw('<span class ="icon-plus"></span> Make PCV'), volunteers_path(:volunteer => {:user_id => @user.id}), :method => :post, :remote => true if can?(:create, Volunteer)
.well.red
  %h1
    = @user.name
    %small= @user.email
.row-fluid
  .span2
    = image_tag 'http://placehold.it/250x250'
  .span10
    .tabbable.tabs-right
      %ul.nav.nav-tabs
        %li.active= link_to 'Profile', '#profile', 'data-toggle' => 'tab'
        %li= link_to "Pages (#{@user.pages.count})", '#pages', 'data-toggle' => 'tab'
        %li= link_to "Revisions (#{@user.revisions.count})", '#revisions', 'data-toggle' => 'tab'
      .tab-content
        .tab-pane#profile.active
          .row-fluid
            .span6
              %h3 Contact
              %dl.dl-horizontal
                %dt Name
                %dd= @user.name
                %dt Email
                %dd= @user.email
                %dt Phone
                %dd
                  = @user.phone
                  &nbsp;
                %dt Blog
                %dd
                  - unless @user.blog_url.blank?
                    = @user.blog_title.blank? ? link_to(@user.blog_url) : link_to(@user.blog_title, @user.blog_url)
                  &nbsp;
                %dt Website
                %dd
                  - unless @user.website.blank?
                    = link_to @user.website
                  &nbsp;
              - if @user.volunteer?
                %h3 Volunteer Info
                %dl.dl-horizontal
                  %dt Local Name
                  %dd
                    = @user.volunteer.local_name
                    &nbsp;
                  %dt Site
                  %dd
                    = @user.volunteer.site
                    &nbsp;
                  %dt Stage
                  %dd
                    = link_to @user.volunteer.stage.name, @user.volunteer.stage if @user.volunteer.stage?
                    &nbsp;
                  %dt Sector
                  %dd
                    = link_to @user.volunteer.sector.name, @user.volunteer.sector if @user.volunteer.sector?
                    &nbsp;
                  %dt COS Date
                  %dd
                    = @user.volunteer.cos_date.strftime('%m %B %Y') unless @user.volunteer.cos_date.blank?
                    &nbsp;
              - if @user.staff?
                %h3 Staff Info
                %dl.dl-horizontal
                  %dt Unit
                  %dd
                    = link_to @user.staff.unit.name, @user.staff.unit if @user.unit?
                    &nbsp;
                  %dt Job Title
                  %dd
                    = @user.staff.job_title
                    &nbsp;
                  %dt Location
                  %dd
                    = @user.staff.location
                    &nbsp;
            .span6
              %h3 #{@user.fname}'s Bio
              %blockquote= raw(@user.bio)
              - if @user.volunteer?
                %h3 Service Info
                %blockquote= raw(@user.volunteer.service_info_html)
              - if @user.staff?
                %h3 Job Description
                %blockquote= raw(@user.staff.job_description_html)
              %h3 Permissions
              - if @user.verified?
                %ul.no-bullet
                  - for role in @user.roles do
                    %li= role.name
              - else
                %blockquote
                  %p User not verified.
        .tab-pane#pages
          - if @user.verified?
            .page-header
              %h1 Pages
            %p #{@user.name} has created #{pluralize(@user.pages.count, 'page')}.
          - else
            .hero-unit.blue
              %h1 This user is not verified.

        .tab-pane#revisions
          - if @user.verified?
            .page-header
              %h1 Revisions
            %p #{@user.name} has made #{pluralize(@user.revisions.count, 'revision')} on the site.
          - else
            .hero-unit.blue
              %h1 This user is not verified.

