#left-menu-container
  %ul.nav.nav-list
    %li.nav-header= t('word.browse')
    - for page in Page.all
      %li= link_to page.title, page
    %li.nav-header= t('phrase.quick_links')
    %li.nav-header= t('word.resources')
    %li= link_to Page.model_name.human(:count => :plural), pages_path
    - if can? :read, User
      %li= link_to icon_for('user', t('word.everyone')), users_path
      %li= link_to icon_for('staff', Staff.model_name.human(:count => :plural)), staff_index_path if can? :read, Staff
      %li= link_to icon_for('volunteer', Volunteer.model_name.human(:count => :plural)), volunteers_path if can? :read, Volunteer
    %li= link_to icon_for('unit', Unit.model_name.human(:count => :plural)), units_path if can? :read, Unit
    %li= link_to icon_for('stage', Stage.model_name.human(:count => :plural)), stages_path if can? :read, Stage
    %li= link_to icon_for('sector', Sector.model_name.human(:count => :plural)), sectors_path if can? :read, Sector
    %li= link_to icon_for('work_zone', WorkZone.model_name.human(:count => :plural)), work_zones_path if can? :read, WorkZone
    %li= link_to icon_for('region', Region.model_name.human(:count => :plural)), regions_path if can? :read, Region
    %li= link_to icon_for('language', Language.model_name.human(:count => :plural)), languages_path if can? :read, Language
