#left-menu-container
  %ul.nav.nav-list
    %li.nav-header Browse
    - for page in Page.all
      %li= link_to page.title, page
    %li.nav-header Quick Links
    %li.nav-header Resources
    %li= link_to 'Pages', pages_path
    - if can? :read, User
      %li= link_to 'Everyone', users_path
      %li= link_to 'Staff', staff_index_path if can? :read, Staff
      %li= link_to 'Volunteers', volunteers_path if can? :read, Volunteer
    %li= link_to 'Admin Units', units_path if can? :read, Unit
    %li= link_to 'Stages', stages_path if can? :read, Stage
    %li= link_to 'Sectors', sectors_path if can? :read, Sector
    %li= link_to 'Work Zones', work_zones_path if can? :read, WorkZone
    %li= link_to 'Regions', regions_path if can? :read, Region
