- content_for :backtrack do
  %li= link_to raw("#{icon_for('library', Library.model_name.human(:count => :plural))} &rang;"), libraries_path
  %li.active= link_to raw("#{@library.name}"), @library
  %li= link_to raw(action_icon(:edit)), edit_library_path(@library)
- content_for :top_right_menu do
  %li= link_to raw(action_icon(:add, t('phrase.new_resource', :resource => Library.model_name.human))), new_library_path if can? :create, Library
- content_for :bottom_right_menu do
  = destroy_button(@library) if can? :destroy, @library

- if @library.restricted?
  .alert.alert-error
    %b RESTRICTED CONTENT.
    You are viewing a restricted #{Library.model_name.human.downcase}. Only other staff and PCVs
    %b AT YOUR POST
    will be able to view it. Unrestricted content
    %em in
    the #{Library.model_name} remains unaffected.
- if @library.shared?
  .alert.alert-info
    %b Shared Library
    This library allows other PCVs and Staff to add and remove content.
- elsif @library.official?
  .alert.alert-success
    %b Official Library
    This is an official library. Contents may be relied upon.
.row-fluid
  .span4
    %ul.thumbnails
      %li.span12
        = link_to '', :class => 'thumbnail' do
          - if @library.photo?
            = image_tag @library.photo.golden791.url
          - else
            = image_tag 'http://placehold.it/791x489'
    %ul.thumbnails
      %li.span4
        = link_to '', :class => 'thumbnail' do
          = image_tag 'http://placehold.it/791x489'
  .span8
    .well.blue
      %h1
        = @library.name
        %small
          owned by
          = link_to @library.owner.name, @library.owner if @library.owner
    %blockquote= @library.description
    .row-fluid
      .span6
        %h1 Files
      .span6
        %h1 Pages
