= form_for @page, :html => { :class => 'form-horizontal' } do |f|
  = render 'shared/form_errors', :item => @page if @page.errors.any?
  %legend The basics
  = render 'shared/form_info'
  .control-group
    %label.control-label Page Title
    .controls
      = f.text_field :title, :class => 'required'
      %span.help-block You will set meta info and add content on the next page.
  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
