- content_for :backtrack do
  %li.active= link_to raw("Pages &rang;"), pages_path
- content_for :top_right_menu do
  %li= link_to raw('<span class="icon-plus"></span> New Page'), new_page_path if can? :create, Page
.well.red
  %h1
    Site Map
    %small= pluralize(@pages.count, 'Page')
%ul.no-bullet
  - for page in @pages do
    %li
      = link_to page.title, page
      = truncate(page.html, :length => 50)
      = link_to 'edit', edit_page_path(page)
