- content_for :backtrack do
  %li= link_to raw("#{icon_for('link', Link.model_name.human(:count => :plural))} &rang;"), links_path
  %li= link_to @link.title, @link
  %li.active= link_to raw(action_icon(:edit)), edit_link_path if can? :edit, @link

- content_for :top_right_menu do
  %li= link_to raw(action_icon(:add, t('phrase.add_resource', :resource => Link.model_name.human(:count => :plural)))), new_link_path

= render 'form'
