- content_for :backtrack do
  %li.active= link_to 'Stages', stages_path
- content_for :top_right_menu do
  %li= link_to raw('<span class="icon-plus"></span> New Stage'), new_stage_path if can? :create, Stage
.well.orange
  %h1 Training Stages
%ul.thumbnails
  - for stage in @stages do
    %li.span2
      = link_to stage, :class => 'thumbnail' do
        - if stage.users.with_avatar.any?
          = image_tag stage.users.unscoped.with_avatar.first.avatar.square250.url if stage.users.with_avatar.any?
        - else
          = image_tag AvatarUploader.new.square250.default_url
        %p.center= stage.name
