= form_for @reference do |f|
  -if @reference.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reference.errors.count, "error")} prohibited this reference from being saved:"
      %ul
        - @reference.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :link_source_id
    = f.number_field :link_source_id
  .field
    = f.label :link_source_type
    = f.text_field :link_source_type
  .field
    = f.label :link_target_id
    = f.number_field :link_target_id
  .field
    = f.label :link_target_type
    = f.text_field :link_target_type
  .field
    = f.label :link_text
    = f.text_field :link_text
  .actions
    = f.submit 'Save'
