%p#notice= notice

%p
  %b Link Target:
  = @reference.link_target_id
%p
  %b Link Target Type:
  = @reference.link_target_type
%p
  %b Link Source:
  = @reference.link_source_id
%p
  %b Link Source Type:
  = @reference.link_source_type
%p
  %b Link text:
  = @reference.link_text

= link_to 'Edit', edit_reference_path(@reference)
\|
= link_to 'Back', references_path
