- content_for :backtrack do
  %li.active= link_to raw("#{Photo.model_name.human(:count => :plural)} &rang;"), photos_path
- content_for :top_right_menu do
  %li= link_to action_icon(:upload), new_photo_path if can? :create, Photo

%ul.thumbnails
  - for photo in @photos do
    %li.span2
      = link_to photo, :class => 'thumbnail', :rel => 'popover', 'data-trigger' => 'hover', :title => photo.title, 'data-content' => (photo.description.blank? ? 'No description.' : photo.description), 'data-placement' => 'bottom' do
        = image_tag photo.photo.square250.url
