- content_for :backtrack do
  %li= link_to raw("#{Photo.model_name.human(:count => :plural)} &rang;"), photos_path
- content_for :top_right_menu do
  %li.active= link_to action_icon(:upload), new_photo_path if can? :create, Photo

%h1 New photo

= render 'form'

= link_to 'Back', photos_path
