- content_for :backtrack do
  %li= link_to raw("#{Photo.model_name.human(:count => :plural)} &rang;"), photos_path
  %li.active= link_to @photo.title, @photo
  %li= link_to action_icon(:edit), edit_photo_path(@photo) if can? :edit, @photo
- content_for :top_right_menu do
  %li= link_to action_icon(:upload), new_photo_path if can? :create, Photo

.well.center
  %h1
    = @photo.title
    %small
      = @photo.attribution
      #{@photo.photo_width}x#{@photo.photo_height}
%ul.thumbnails
  %li.span12
    = link_to @photo, :class => 'thumbnail' do
      = image_tag @photo.photo.url
%blockquote
  = @photo.description
  %br
  #{@photo.photo_content_type}; #{@photo.photo_file_size}; #{@photo.user.name};
  = link_to t('phrase.view_full_size'), @photo.photo.url
