= form_for @timeline do |f|
  = render 'shared/form_errors', :item => @timeline if @timeline.errors.any?
  = render 'shared/form_info'
  .row-fluid
    .span8
      = f.label :headline
      = f.text_field :headline, :class => 'span12 required'
    .span4
      = f.label :startdate
      = f.text_field :startdate, :class => 'span12 datepicker required'
  .row-fluid
    .span12
      = f.label :asset_media
      = f.text_field :asset_media, :class => 'span12'
  .row-fluid
    .span8
      = f.label :asset_caption
      = f.text_field :asset_caption, :class => 'span12'
    .span4
      = f.label :asset_credit
      = f.text_field :asset_credit, :class => 'span12'
  .row-fluid
    .span12
      = f.label :text
      = f.text_area :text, :rows => 5, :class => 'span12 markdown'
  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
