= form_for @region do |f|
  = render 'shared/form_errors', :item => @region if @region.errors.any?
  = render 'shared/form_info'
  .row-fluid
    .span8
      = f.label :name, 'Region Name'
      = f.text_field :name, :class => 'span12 required'
    .span4
      = f.label :abbreviation, 'Region Abbreviation'
      = f.text_field :abbreviation, :class => 'span12 required'
  .form-actions
    = f.submit 'Save', :class => 'btn btn-primary'
