- content_for :backtrack do
  %li.active= link_to 'Regions', regions_path
- content_for :top_right_menu do
  %li= link_to raw('<span class="icon-plus"></span> New Region'), new_region_path if can? :create, Region

.well.blue
  %h1 Regions
%ul.thumbnails
  - for region in @regions do
    %li.span3
      = link_to region, :class => 'thumbnail' do
        = image_tag 'http://placehold.it/300x200'
        %h4.center= region.name
