%ul.nav.nav-pills.pull-left
  %li.dropdown
    = link_to '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown' do
      %span.icon-home
      Home
      %b.caret
    %ul.dropdown-menu
      %li= link_to 'Front Page', root_path
      %li.divider
      %li= link_to 'Pages', pages_path
      - if can? :read, Unit
        %li.dropdown-submenu
          = link_to 'Admin Units', units_path, :tabindex => '-1'
          %ul.dropdown-menu
            - for unit in Unit.all do
              %li= link_to unit.name, unit
      - if can? :read, User
        %li.dropdown-submenu
          = link_to 'People', users_path, :tabindex => '-1'
          %ul.dropdown-menu
            %li= link_to 'Staff', staff_index_path if can? :read, Staff
            %li= link_to 'Volunteers', volunteers_path if can? :read, Volunteer
      - if can? :read, WorkZone
        %li.dropdown-submenu
          = link_to 'Work Zones', work_zones_path, :tabindex => '-1'
          %ul.dropdown-menu
            - for work_zone in WorkZone.all do
              %li= link_to work_zone.name, work_zone
      - if can? :read, Stage
        %li.dropdown-submenu
          = link_to 'Stages', stages_path, :tabindex => '-1'
          %ul.dropdown-menu
            - for stage in Stage.limit(6) do
              %li= link_to stage.name, stage
  = yield :backtrack
%ul.nav.nav-pills.pull-right
  = yield :top_right_menu
  = render 'menu' rescue nil
%ul#top-message.nav.nav-pills.pull-right
