.container-fluid
  .row-fluid
    .span3
      %Ul.nav.nav-list
        %li.nav-header Things
        %li= link_to 'Pages', pages_path
      %ul.nav.nav-list
        %li.nav-header Links
        %li= link_to 'Peace Corps', 'http://peacecorps.gov'
        %li.nav-header Contact us
        %li= link_to 'Email', "contact@#{ENV['DOMAIN']}"
        %li= link_to 'Facebook', ENV['FB_URL'] if ENV['FB_URL'] && !ENV['FB_URL'].blank?
        %li= link_to 'Twitter', ENV['TWITTER_URL'] if ENV['TWITTER_URL'] && !ENV['TWITTER_URL'].blank?
    .span3
      %ul.nav.nav-list
        - if can?(:read, User)
          %li.nav-header People
          %li= link_to 'Everyone', users_path
          %li= link_to 'Staff', staff_index_path if can? :read, Staff
          %li= link_to 'Volunteers', volunteers_path if can? :read, Volunteer
        - if can? :read, Unit
          %li.nav-header Units
          - for unit in Unit.all do
            %li= link_to unit.name, unit
    .span3
      %ul.nav.nav-list
        - if can? :read, Sector
          %li.nav-header Sectors
          - for sector in Sector.all do
            %li= link_to sector.name, sector
        - if can? :read, Region
          %li.nav-header Regions
          - for region in Region.all do
            %li= link_to region.name, region
    .span3
      %ul.nav.nav-list
        - if can? :read, WorkZone
          %li.nav-header Work Zones
          - for work_zone in WorkZone.all do
            = link_to work_zone.name, work_zone
  .row-fluid
    .span12
      %hr
  .row-fluid
    .span6
      %p #{link_to "Peace Corps|#{ENV['COUNTRY']}", root_path} &copy; 2011-2012
    .span6.right
      %p Powered by DigitalPost on Fadidi Media Network
