.container-fluid
  .row-fluid
    .span3
      %Ul.nav.nav-list
        %li.nav-header= t 'word.things'
        %li= link_to icon_for('case_study', CaseStudy.model_name.human(:count => :plural)), case_studies_path
        %li= link_to icon_for('link', Link.model_name.human(:count => :plural)), links_path
        %li= link_to icon_for('document', Document.model_name.human(:count => :plural)), documents_path
        %li= link_to icon_for('page', Page.model_name.human(:count => :plural)), pages_path
        %li= link_to icon_for('photo', Photo.model_name.human(:count => :plural)), photos_path
        %li= link_to icon_for('timeline', Timeline.model_name.human(:count => :plural)), timelines_path
        - if can?(:read, User)
          %li.nav-header= t 'word.people'
          %li= link_to raw(icon_for('user', t('word.everyone').titleize)), users_path
          %li= link_to raw(icon_for('user', Staff.model_name.human(:count => :plural))), staff_index_path if can? :read, Staff
          %li= link_to raw(icon_for('user', Volunteer.model_name.human(:count => :plural))), volunteers_path if can? :read, Volunteer
    .span3
      %ul.nav.nav-list
        %li.nav-header= t 'word.links'
        %li= link_to t('proper_noun.peace_corps'), 'http://peacecorps.gov'
        - if can? :read, Unit
          %li.nav-header Units
          - for unit in Unit.all do
            %li= link_to unit.name, unit
    .span3
      %ul.nav.nav-list
        %li.nav-header= t 'phrase.contact_us'
        %li= link_to 'Email', "contact@#{ENV['DOMAIN']}"
        %li= link_to 'Facebook', ENV['FB_URL'] if ENV['FB_URL'] && !ENV['FB_URL'].blank?
        %li= link_to 'Twitter', ENV['TWITTER_URL'] if ENV['TWITTER_URL'] && !ENV['TWITTER_URL'].blank?
        - if can? :read, Sector
          %li.nav-header= Sector.model_name.human(:count => :plural)
          - for sector in Sector.all do
            %li= link_to sector.name, sector
        - if can? :read, Region
          %li.nav-header= Region.model_name.human(:count => :plural)
          - for region in Region.all do
            %li= link_to region.name, region
    .span3
      %ul.nav.nav-list
        %li.nav-header= Language.model_name.human(:count => :plural)
        - for language in Language.all do
          %li= link_to language.name, language
        - if can? :read, WorkZone
          %li.nav-header= WorkZone.model_name.human(:count => :plural)
          - for work_zone in WorkZone.all do
            = link_to work_zone.name, work_zone
  .row-fluid
    .span12
      %hr
  .row-fluid
    .span6
      %p #{link_to "#{t 'proper_noun.peace_corps'}|#{ENV['COUNTRY']}", root_path} &copy; 2011-2012
    .span6.right
      %p= raw t('footer.credit', :app_link => link_to('DigitalPost', 'http://www.pcdigitalpost.com'), :host_link => link_to('Fadidi Digital Media Network', 'http://www.fadidi.com/digitalpost'))
