.container-fluid
  .row-fluid
    .span3
      %Ul.nav.nav-list
        %li.nav-header Things
        %li= link_to 'Pages', pages_path
    .span3
      %ul.nav.nav-list
        - if signed_in?
          - if can?(:read, User)
            %li.nav-header People
            %li= link_to 'Everyone', users_path
            %li= link_to 'Staff', staff_index_path if can? :read, Staff
            %li= link_to 'Volunteers', volunteers_path if can? :read, Volunteer
          - if can? :read, Unit
            %li.nav-header Units
            - for unit in Unit.all do
              %li= link_to unit.name, unit
    .span3
      %ul.nav.nav-list
        %li.nav-header Links
        %li= link_to 'Peace Corps', 'http://peacecorps.gov'
        %li.nav-header Contact us
        %li= link_to 'Email', "contact@#{ENV['DOMAIN']}"
        %li= link_to 'Facebook', ENV['FB_URL']
        %li= link_to 'Twitter', ENV['TWITTER_URL']
  .row-fluid
    .span12
      %hr
      %p.center #{link_to "Peace Corps|#{ENV['COUNTRY']}", root_path} &copy; 2011-2012
