<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? "PC|SN - #{yield(:title)}" : "Peace Corps|#{ENV['COUNTRY']}"
    %meta{:content => "Peace Corps|#{ENV['COUNTRY']} Online", :name => "description"}
    %meta{:content => "John Brown | Peace Corps Senegal", :name => "author"}
    %link{:href => image_path('favicon.ico'), :type => 'image/x-icon', :rel => 'icon'}
    = stylesheet_link_tag "application", :media => "all"
    = yield :stylesheets
    = javascript_include_tag "application"
    = yield :javascripts
    = csrf_meta_tags
    = yield :head
  %body
    %header
      = render 'layouts/navigation'
    #main{:role => "main"}
      #photobar.visible-desktop
        - for photo in Photo.limit(20) do
          %img{:src => photo.photo.square100.url}<>
      -#= render 'layouts/developer_messages'
      = render 'layouts/messages' if flash.any?
      -#.container
        .row-fluid
          .span12
      .container-fluid
        .row12
          = yield :alerts
      - if content_for?(:body)
        = yield :body
      - else
        = yield
      - if Rails.env.development?
        .container-fluid
          .row-fluid
            .span6 &nbsp;
            .span6 &nbsp;
          .row-fluid
            .span7 &nbsp;
            .span5 &nbsp;
          .row-fluid
            .span8 &nbsp;
            .span4 &nbsp;
          .row-fluid
            .span9 &nbsp;
            .span3 &nbsp;
          .row-fluid
            .span10 &nbsp;
            .span2 &nbsp;
          .row-fluid
            .span11 &nbsp;
            .span1 &nbsp;
          .row-fluid
            .span12 &nbsp;
          .row-fluid
            .span12= debug(params)
    %footer
      = render 'layouts/footer'
