- content_for :body do
  .container
    .row
      .span8
        %ul.nav.nav-tabs
          %li.active= link_to icon_for('home'), root_path
          %li= link_to icon_for('case_study', CaseStudy.model_name.human(:count => :plural)), case_studies_path
          %li= link_to icon_for('link', Link.model_name.human(:count => :plural)), links_path
          %li= link_to icon_for('document', Document.model_name.human(:count => :plural)), documents_path
          %li= link_to icon_for('page', Page.model_name.human(:count => :plural)), pages_path
          %li= link_to icon_for('photo', Photo.model_name.human(:count => :plural)), photos_path
          %li= link_to icon_for('timeline', Timeline.model_name.human(:count => :plural)), timelines_path
      .span4
        %ul.nav.nav-tabs.pull-right
          - if signed_in?
            %li= link_to 'Sign out', destroy_user_session_path
          - else
            %li= link_to 'Sign in', new_user_session_path
            %li= link_to 'Sign up', new_user_registration_path
    .row
      .span12
        = yield
  - if Rails.env.development?
    .container
      .row
        .span12= debug(params)
= render :template => 'layouts/application'
