- content_for :body do
  .container
    .row
      .span12
        %ul.nav.nav-tabs.pull-left
          %li= link_to 'Home', root_path
          = render 'breadcrumbs' rescue nil
        %ul.nav.nav-tabs.pull-right
          = render 'menu' rescue nil
    .row
      .span12
        = yield
  - if Rails.env.development?
    .container
      .row
        .span12= debug(params)
= render :template => 'layouts/application'
