- content_for :body do
  .container
    .row
      .span8
        %ul.nav.nav-pills
          %li.active= link_to 'Home', ''
          %li= link_to 'test', 'test'
      .span4
        %ul.nav.nav-pills.pull-right
          - if signed_in?
            %li= link_to 'Sign out', destroy_user_session_path
          - else
            %li= link_to 'Sign in', new_user_session_path
            %li= link_to 'Sign up', new_user_registration_path
    .row
      .span12
        = yield
  - if Rails.env.development?
    .container
      .row
        .span12= debug(params)
= render :template => 'layouts/application'
